body {
  color: #333;
  font-family: Arial;
  margin: 0;
  padding: 0;
}

h1, p {
  margin: 0;
}
.container {
  width: 70%;
  margin: 0 auto;
  border: 3px solid #DDD;
}

.info {
  padding: 3rem;
}
.info p {
  font-size: 18px;
}